@font-face {
    font-family: "Ubuntu";
    src: url('resources/fonts/ubuntu-font-family-0.83/Ubuntu-R.ttf');
}

@font-face {
    font-family: "Ubuntu-Light";
    src: url('resources/fonts/ubuntu-font-family-0.83/Ubuntu-L.ttf');
}

body {
	font-family: "Ubuntu-Light";
	background-color:#267685;
	color:#fff;
	overflow-y: hidden;
}

.red {
	background-color:#cb3e3e;
	color:#fff !important;
}

.red:hover {
	background-color:#981a1a;
	color:#fff !important;
}

.green {
	background-color:darkgreen;
	color:#fff !important;
}

.green:hover {
	background-color:green;
	color:#fff !important;
}

.header-large {
	font-size:4em;
	font-family:"Ubuntu";
}

#navPanel {
	background-color:rgba(255,255,255,0.1);
	height:100vh;
	display:none;
	cursor:pointer;
}

#slides {
	height:100vh;
	display:none;
}

.icon {
	font-size:2.5em;
	height:25vh;
	border-width:1px;
	border-color:rgba(255,255,255,0.1);
	border-style: solid;
	border-top:0px;
	border-left:0px;
	border-right:0px;
}

.icon div {
	padding-top:4vh;
	padding-left:0.25em;
	padding-right:0.25em;
}

.icon:hover {
	background-color:rgba(255,255,255,0.2);
}

#urlBar {
	background-color:rgba(255,255,255,0.5);
}


#buttonBar {
	display:none;
}

webview {
	background-color: #fff;
	height:100vh;
	width:100%;
}

#overlay {
	padding-top:33vh;
	text-align:center;
	vertical-align: middle;
	background-color:rgba(0,0,0,0.95);
	z-index:1;
	height:100vh;
	width:100%;
	position:absolute;
	left:0;
	top:0;
	display:none;
	font-size:1.8em;
}

.buttonBarTitle {
	padding-left:15px;
	padding-top:5px;
}

.goBack {
	background-color:#ffdd55;
	color:#000;
	text-align:center;
	padding-top:12px;
	cursor:pointer;
}

.goBack:hover {
	background-color:#ecc52e;
}

.endSession {
	background-color:#cb3e3e;
	color:#fff;
	text-align:center;
	padding-top:18px;
	cursor:pointer;
}

.endSession:hover {
	background-color:#981a1a;
}