@font-face {
    font-family: "Ubuntu";
    src: url('resources/fonts/ubuntu-font-family-0.83/Ubuntu-R.ttf');
}

@font-face {
    font-family: "Ubuntu-Light";
    src: url('resources/fonts/ubuntu-font-family-0.83/Ubuntu-L.ttf');
}

body {
	font-family: "Ubuntu-Light";
	background-color:#474747;
	color:#fff;
	text-align:center;
}

a:link {
	color:#eaeaea;
	text-decoration: none;
}

a:active {
	color:#eaeaea;
	text-decoration: none;
}

a:clicked {
	color:#eaeaea;
	text-decoration: none;
}

a:hover {
	color:#eaeaea;
	text-decoration: none;
}

.button {
	font-family:"Ubuntu-Light";
	background-color:#3771c8;
	color:#fff;
	text-align:center;
	text-decoration: none;
	display:block;
	margin:0 auto;
	padding:20px 0px 20px 0px;
	border:0px;
}

.button:hover {
	background-color:#5f8dd3;
}

.button:active {
	background-color:#3771c8;
}

.red {
	background-color:darkred;
}

.red:hover {
	background-color:red;
}

.green {
	background-color:darkgreen;
}

.green:hover {
	background-color:green;
}

.header-large {
	font-size:4em;
	font-family:"Ubuntu";
}

#navPanel {
	background-color:#ccc;
}